<section class="flex grow flex-col justify-center items-center ">
  <h1>Adoptoposs says no way!</h1>
  <p class="text-red-300 text-6xl">
    4<i class="fa-solid fa-bug text-6xl"></i>3
  </p>
  <p>Looks like you are not allowed to look at this…</p>
</section>
