<section class="flex flex-grow flex-col justify-center items-center text-center">
  <h1>Adoptoposs says sorry!</h1>
  <p class="text-red-300 text-6xl">
    5<i class="fa-solid fa-bug text-6xl"></i><i class="fa-solid fa-bug text-6xl"></i>
  </p>
  <p>
    Oh wow, thanks - it looks like you found a bug! <br /> We are looking into it.
  </p>
</section>
