# Erlang version
erlang_version=22.2

# Elixir version
elixir_version=1.10.4

config_vars_to_export=(
  DATABASE_URL
  BASIC_AUTH_PASSWORD
  BASIC_AUTH_USER
  SECRET_KEY_BASE
  LIVE_VIEW_SIGNING_SALT
  GITHUB_CLIENT_ID
  GITHUB_CLIENT_SECRET
  CRONTAB_PROJECT_RECOMMENDATIONS
  EMAIL_WEEKDAY
  GA_MEASUREMENT_ID
  NEW_RELIC_APP_NAME
  NEW_RELIC_LICENSE_KEY
)
