Hi <%= @interest.project.user.name %>,

you’ve got a new message for your project "<%= @interest.project.name %>"  on Adoptoposs:

<%= render AdoptopossWeb.InterestView, "reply", interest: @interest %>

You can find the original message here: <%= @project_url %>.

In order to get into contact with <%= @interest.creator.name%> you can directly reply to this email.
