<section class="phx-hero">
  <h1><%= gettext "Welcome to %{app_name}!", app_name: "Adoptoposs" %></h1>
  <p>
    Connecting people to make sure <br/>
    <b>open source software</b> projects are maintained </br>
    by multiple <b>co-maintainers</b>.</br>.
  </p>
</section>

<%= for project <- @projects do %>
  <%= render AdoptopossWeb.ProjectView, "project.html", project: project %>
<% end %>

