<section class="phx-hero">
  <h1><%= gettext "Welcome to %{app_name}!", app_name: "Adoptoposs" %></h1>
  <p>
    Connecting people to make sure <br/>
    <b>open source software</b> projects are maintained </br>
    by multiple <b>co-maintainers</b>.</br>.
  </p>
</section>

<%= if @current_user do %>
  <a href="<%= Routes.repo_path(@conn, :index) %>" title="Find co-maintainers">
  Find co-maintainers
</a>
<% end %>

