@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Oswald&display=swap');

$font-family-primary: "Source Sans Pro";
$font-family-secondary: "Oswald";

html, body {
  @apply h-full;
  font-family: $font-family-primary, sans-serif;
}

body {
  @apply antialiased;
  @apply flex flex-col;
  @apply bg-gray-100 text-gray-800;
}

header {
  @apply text-pink-900;
}

nav {
  @apply flex max-w-6xl mx-auto items-center flex-wrap px-6 py-4;
}

main {
  @apply flex-1;
}

section {
  @apply px-4 max-w-6xl w-full mx-auto;
}

footer {
  a {
    @apply text-red-400;

    &:focus, &:hover {
      @apply underline;
    }
  }
}

h1, h2, h3, h4, h5 {
  @apply text-pink-900 font-semibold;
}

h1 {
  @apply text-2xl my-2;
  font-family: $font-family-secondary, sans-serif;

  @screen md {
    @apply text-4xl my-4;
  }
}

h2 {
  @apply text-xl mt-2;

  @screen md {
    @apply text-2xl mt-4;
  }
}

h3 {
  @apply text-base;

  @screen md {
    @apply text-lg;
  }
}

select.h1 {
  @apply text-2xl;
  font-family: $font-family-secondary, sans-serif;

  @screen md {
    @apply text-4xl;
  }
}

p {
  @apply mb-4
}

button {
  @apply rounded-sm py-2 px-4 my-2;
  @apply bg-white border border-red-500 text-red-400 text-sm uppercase tracking-wider font-semibold;

  &:focus, &:hover {
    @apply bg-red-500 text-white border-white
  }

  &.plain {
    @apply tracking-normal text-base;
    border: inherit;
    background-color: inherit;
    color: inherit;
    margin: 0;
    text-transform: none;
  }
}

input[type="reset"] {
  @apply rounded-sm py-2 px-4 my-2;
  @apply bg-white border border-gray-500 text-gray-500 text-sm uppercase tracking-wider font-semibold;
  @apply cursor-pointer;

  &:focus, &:hover {
    @apply bg-gray-400 text-white border-white
  }
}

a {
  @apply text-red-600;

  &:focus, &:hover {
    @apply text-red-400;
  }
}

label {
  @apply font-semibold;
}

nav .nav-link {
  @apply block p-2 mb-1;

  &:hover, &:focus {
    @apply bg-gray-200 rounded;
  }

  @screen md {
    @apply flex items-center p-2 m-0 mr-4;

    &:hover, &:focus {
      @apply bg-transparent;
    }
  }
}

.icon-button {
  @apply inline-flex items-center justify-center;
  @apply cursor-pointer p-2 rounded rounded-full;
  @apply text-white bg-red-400;

  &.hidden {
    @apply hidden;
  }

  svg {
    @apply h-6 w-6 fill-current;
  }

  &:focus, &:hover {
    @apply bg-red-300;
  }
}

.icon-button.disabled {
  @apply text-gray-400 bg-transparent;
  @apply cursor-default py-2 px-0;
}

a, button, input[type="button"] {
  &.button-link {
    @apply rounded px-4 py-2;
    @apply normal-case text-base font-normal leading-tight tracking-normal;
    @apply bg-white border border-red-300  text-red-600;

    &:focus, &:hover {
      @apply bg-red-500 text-white border-white;
    }

    &.subtle {
      @apply leading-none bg-transparent;

      &:focus, &:hover {
        @apply bg-transparent text-red-500 border-red-300;
      }
    }
  }
}

.list-item {
  .icon-button {
    &:not(.disabled) {
      @apply text-gray-200 bg-gray-600;
    }

    &.subtle {
      @apply text-gray-500 bg-transparent border-transparent;
      @apply h-5 w-5 py-2 px-0;

      &:focus, &:hover {
        @apply bg-gray-600 bg-transparent;
      }
    }
  }

  .emphasize {
    @apply text-red-400;
  }

  &:focus, &:hover {
    .icon-button {
      &:not(.disabled) {
        @apply text-white bg-gray-700;

        &:focus, &:hover {
          @apply text-white bg-red-400;
        }
      }

      &.subtle {
        @apply text-gray-600 bg-transparent;

        &:focus, &:hover {
          @apply text-red-400 bg-transparent;
        }
      }
    }

    .emphasize {
      @apply text-red-500;

      &:focus, &:hover {
        @apply text-red-400;
      }
    }

    input[type="reset"] {
      @apply border-gray-500 text-gray-600;

      &:focus, &:hover {
        @apply bg-gray-400 text-white border-white
      }
    }

    button {
      @apply text-red-500;

      &:focus, &:hover {
        @apply bg-red-500 text-white border-white
      }
    }
  }
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-disconnected {
  $dark: #702459;
  $bright: #fc8181;

  h1, select {
    -webkit-animation: color-change 0.8s infinite;
    -moz-animation: color-change 0.8s infinite;
    -o-animation: color-change 0.8s infinite;
    -ms-animation: color-change 0.8s infinite;
    animation: color-change 0.8s infinite;
  }

    @-webkit-keyframes color-change {
        0% { color: $dark; }
        50% { color: $bright; }
        100% { color: $dark; }
    }
    @-moz-keyframes color-change {
        0% { color: $dark; }
        50% { color: $bright; }
        100% { color: $dark; }
    }
    @-ms-keyframes color-change {
        0% { color: $dark; }
        50% { color: $bright; }
        100% { color: $dark; }
    }
    @-o-keyframes color-change {
        0% { color: $dark; }
        50% { color: $bright; }
        100% { color: $dark; }
    }
    @keyframes color-change {
        0% { color: $dark; }
        50% { color: $bright; }
        100% { color: $dark; }
    }
}

.w-max-content {
  width: max-content;
}

.text-hyphen {
  hyphens: auto;
}

/* Reset some styles for markdown rendering, because the headlines
   and margins would be too large in the inline descriptions */
.markdown {
  h1, h2, h3, h4, h5, h6 {
    @apply text-base font-semibold text-pink-900 m-0;
    font-family: $font-family-primary, sans-serif;
  }

  p {
    @apply mb-2;
  }

  pre, code, p {
    font-family: $font-family-primary, sans-serif;
    @apply break-normal whitespace-normal;
  }
}

details summary {
  @apply cursor-pointer;
}

details.toggle {
  summary {
    @apply list-none cursor-pointer;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] {
    summary {
      &::before {
        @apply cursor-default bg-transparent;
        @apply fixed block top-0 right-0 bottom-0 left-0;
        content: " ";
      }
    }
  }
}
