<div class="flex flex-row flex-no-wrap min-width-0 items-center font-semibold cursor-default <%= assigns[:class] %>">
  <div class="w-3 h-3 rounded rounded-full bg-gray-500"
    style="background-color: <%= @color %>;">
  </div>
  <div class="w-max-content ml-2">
    <%= @name %>
  </div>
</div>
