<div class={"flex flex-row flex-nowrap min-width-0 items-center font-semibold cursor-default #{assigns[:class]}"} title={if assigns[:title], do: assigns[:title]}>
  <div class="w-3 h-3 rounded rounded-full bg-gray-500"
    style={"background-color: #{@color};"}>
  </div>
  <div class="w-max-content ml-2">
    <%= @name %>
    <%= if assigns[:removeable] do %>
      <span class="ml-1">&times;</span>
    <% end %>
  </div>
</div>
