<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Adoptoposs · Keep open source projects maintained</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <%= if @current_user do %>
              <li>
                <%= link "Submit repo", to: Routes.live_path(@conn, AdoptopossWeb.RepoLive.Index, @current_user.username) %>
              </li>

              <li>
                <%= link "Your Projects", to: Routes.live_path(@conn, AdoptopossWeb.ProjectLive.Index) %>
              </li>

              <li><a href="/auth/github/logout">Logout</a></li>

              <li>
                <img width="30px" src="<%= @current_user.avatar_url %>" alt="<%=@current_user.name %>">
              </li>
            <% else %>
              <li>
                <a href="/auth/github">Login with Github</a>
              </li>
            <% end %>
          </ul>
        </nav>
        <a href="/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/adoptoposs.png") %>" alt="Adoptoposs Logo"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <%= csrf_meta_tag() %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
