<section>
  <%= if Phoenix.Flash.get(@flash, :error) do %>
    <p
      class="text-red-400 text-center font-font-semibold p-4 rounded-sm border border-red-300"
      role="alert"
    >
      <%= Phoenix.Flash.get(@flash, :error) %>
    </p>
  <% end %>
</section>

<%= @inner_content %>
