<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= render(AdoptopossWeb.SharedView, "meta_tags.html", assigns) %>

    <link rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <%= render(AdoptopossWeb.SharedView, "google_analytics.html") %>

    <%= csrf_meta_tag() %>
    <script defer type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}>
    </script>
  </head>

  <body>
    <a name="top"></a>

    <header>
      <nav role="navigation">
        <div class="flex items-center shrink-0 mr-6">
          <a href="/" class="font-semibold text-xl tracking-tight">
            <img
              src={Routes.static_path(@conn, "/images/adoptoposs-logo.webp")}
              alt="Adoptoposs"
              class="h-10"
            />
          </a>
        </div>

        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border-red-200">
            <i class="fa-solid fa-bars text-lg"></i>
          </button>
        </div>

        <div class="w-full text-md block flex-grow justify-end lg:flex lg:flex-row lg:items-end lg:w-auto">
          <.link href="#" onClick="history.go(-1);return true;">Go back</.link>
        </div>
      </nav>
    </header>

    <main role="main" class="h-full">
      <%= @inner_content %>
    </main>

    <footer class="bg-gray-800 text-red-300 py-6 md:py-10">
      <%= render(AdoptopossWeb.SharedView, "footer.html", assigns) %>
    </footer>
  </body>
</html>
