<section>
  <%= if live_flash(@flash, :error) do %>
    <p class="bg-red-400 text-white text-center font-medium p-4" role="alert">
      <%= live_flash(@flash, :error) %>
    </p>
  <% end %>

  <%= if live_flash(@flash, :notice) do %>
    <p class="bg-green-400 text-white text-center font-medium p-4" role="alert">
      <%= live_flash(@flash, :notice) %>
    </p>
  <% end %>
</section>

<%= @inner_content %>
