<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= render(AdoptopossWeb.SharedView, "meta_tags.html", assigns) %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <%= render(AdoptopossWeb.SharedView, "google_analytics.html") %>

    <%= csrf_meta_tag() %>
    <script defer type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}>
    </script>
  </head>

  <body>
    <a name="top"></a>

    <header>
      <%= render(AdoptopossWeb.SharedView, "navigation.html", assigns) %>
    </header>

    <main role="main" class="pb-8">
      <%= @inner_content %>
    </main>

    <footer class="bg-gray-900 text-red-400 py-6 md:py-10">
      <%= render(AdoptopossWeb.SharedView, "footer.html", assigns) %>
    </footer>

    <%= render(AdoptopossWeb.SharedView, "cookies-banner.html", assigns) %>
  </body>
</html>
