<section class="column search">
  <p>Search for repositories:</p>
  <%= AdoptopossWeb.SharedView.render "search_input.html", conn: @conn %>
</section>

<section class="row">
  <div class=card-container>
    <%= for result <- @results do %>
      <%= render "project.html", project: result %>
    <% end %>
  </ul>
</section>
