name: CI

on:
  push:
    branches: [ main, develop, testing ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    name: run tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Cache hex deps
      id: mix-cache
      uses: actions/cache@v5
      with:
        path: |
          deps
          _build
          !_build/*/lib/adoptoposs
        key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}-${{ hashFiles(format('{0}{1}', github.workspace, '/Dockerfile.dev')) }}

    - name: Cache yarn
      id: yarn-cache
      uses: actions/cache@v5
      with:
        path: "**/node_modules"
        key: ${{ runner.os }}-yarn-${{ hashFiles(format('{0}{1}', github.workspace, '/**/yarn.lock')) }}

    - name: Setup environment
      run: |
        make dev-config
        make build

    - name: Install hex dependencies
      if: steps.mix-cache.outputs.cache-hit != 'true'
      run: make hex-deps

    - name: Install yarn
      if: steps.yarn-cache.outputs.cache-hit != 'true'
      run: make yarn

    - name: Check code formatting
      run: make check-formatted

    - name: Run tests
      run: make test

  staging:
    needs: test
    if: (github.ref == 'refs/heads/develop') || (github.ref == 'refs/heads/testing')
    uses: ./.github/workflows/cd-staging.yaml
    secrets:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
      HONEYBADGER_API_KEY: ${{ secrets.HONEYBADGER_API_KEY }}

  production:
    needs: test
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/cd-production.yaml
    secrets:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
      HONEYBADGER_API_KEY: ${{ secrets.HONEYBADGER_API_KEY }}
