name: Elixir CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup test environment
      run: make setup-test
    - name: Run tests
      run: make test

